<!-- vowels.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>
    <a href="{% url 'courses' %}" class="heading-link">Courses</a>
     > 
    <a href="{% url 'u2_vowels_consonants' %}" class="heading-link">Unit 2</a>
     >
    <a href="{% url 'u2_vowels' %}" class="heading-link">Vowels</a>
</h1>

<div class="button-container"></div>
<a href="{% url 'p2_single_vowels' %}" class="button-link">Single Vowels</a>
<a href="{% url 'p2_double_vowels' %}" class="button-link">Double Vowels</a>
</div>

{% endblock %}