<!-- family.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Family Members</h1>
<h1>
    <a href="{% url 'courses' %}" class="heading-link">Courses</a>
     > 
     <a href="{% url 'u5_family' %}" class="heading-link">Unit 5: Family Members</a>
</h1>
<p>Work in progress...</p>

<div class="button-container"></div>
<a href="{% url 'p5_family_cards' %}" class="button-link">Flashcards</a>
<a href="{% url 'p5_family_audio' %}" class="button-link">Pronunciations</a>
</div>

{% endblock %}