<!-- animals.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Animals</h1>

<div id="flashcard-container" class="flashcard-container">
    {% for word in words %}
    <div class="card-wrapper">
        <div class="card-body">
            <!-- Front of the card displays english -->
            <div class="card-front">
                <p>{{ word.english_word }}</p>
            </div>
            <!-- Back of the card displays hmong -->
            <div class="card-back">
                <p>{{ word.hmong_word }}</p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}