<!-- about.html -->
{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% block content %}
    <h1>About Us</h1>
    <p>
        The Hmong language faces a decline as younger generations increasingly assimilate 
        into other cultures, leading to a loss of linguistic and cultural identity. Hmong Roots 
        aims to combat this by providing an engaging and interactive platform to teach and 
        preserve the Hmong Language.
    </p>    
    <br>    
    <p>Hmong Roots is a web application and language learning resource geared towards 
        teaching young children about the Hmong Culture and Language. 
    </p>
    <br>
    <!-- <p>
        Our curriculum currently covers the following categories:
        - 8 Tone Markers
        - 6 Single Vowels
        - 7 Double Vowels
        - 17 Single Consonants
        (Double, Triple and Quadruple Consonants TBA)
        - 4 Common Phrases
        - Numbers (0-10)
        - 14 Family Members (Male and Female uses)
        - 5 Animals
    </p> -->
    <p>
        Our curriculum currently covers the following categories:
    </p>
    <ul style="margin-left: 20px;">
        <li>8 Tone Markers</li>
        <li>6 Single Vowels</li>
        <li>7 Double Vowels</li>
        <li>17 Single Consonants</li>
        <li>4 Common Phrases</li>
        <li>Numbers (0-10)</li>
        <li>14 Family Members (Male and Female uses)</li>
        <li>5 Animals</li>
    </ul>
    <p>(Double, Triple and Quadruple Consonants TBA)</p>
    <br>
    <p>
        For more information about the behind the scenes of our application
        please refer to the links on the <a href="/home">home page</a>!
    </p>

    {% endblock %}
</body>
</html>
