<!-- base.html -->
<!-- for top navigation bar -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Left-aligned (space for future elements) -->
    <div class="left-side"></div>

    <!-- Center-aligned navigation bar -->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="/" id="navbar__logo">
                <img src="{% static 'images/logo_yellow.png' %}" alt="Logo" />
            </a>            
            <div class="navbar__toggle" id="left-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="{% url 'home' %}" class="navbar__links">HOME</a>
                </li>
                <li class="navbar__item">
                    <a href="{% url 'courses' %}" class="navbar__links">COURSES</a>
                </li>
                <li class="navbar__item">
                    <a href="{% url 'practice' %}" class="navbar__links">PRACTICE</a>
                </li>
                <li class="navbar__item">
                    <a href="{% url 'resources' %}" class="navbar__links">RESOURCES</a>
                </li>
                <!-- <li class="navbar__item">
                    <a href="{% url 'about' %}" class="navbar__links">ABOUT</a>
                </li> -->
            </ul>
        </div>
    </nav>
<!--
    <aside id="toggle__menu">
        <ul>
            <li class="logo">Hmong Roots</li>
            <button class="toggle-btn">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
            </button>
            <li class="active">
                <a href="{% url 'home' %}" class="home">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"/></svg>
                    <span>HOME</span>
                </a>
            </li>
            <li>
                <button class="dropdown-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M480-120 200-272v-240L40-600l440-240 440 240v320h-80v-276l-80 44v240L480-120Zm0-332 274-148-274-148-274 148 274 148Zm0 241 200-108v-151L480-360 280-470v151l200 108Zm0-241Zm0 90Zm0 0Z"/></svg>
                    <span>COURSES</span>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
                </button>
                <ul class="sub-menu">
                    <li><a href="{% url 'u1_tones' %}">Unit 1: Tones</a></li>
                    <li><a href="{% url 'u2_vowels_consonants' %}">Unit 2: Vowels + Consonants</a></li>
                    <li><a href="{% url 'u3_phrases' %}">Unit 3: Common Phrases</a></li>
                    <li><a href="{% url 'u4_numbers' %}">Unit 4: Numbers 1-10</a></li>
                    <li><a href="{% url 'u5_family' %}">Unit 5: Family Members</a></li>
                    <li><a href="{% url 'u6_animals' %}">Unit 6: Animals</a></li>
                </ul>
            </li>
            <li>
                <button class="dropdown-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M320-160q-33 0-56.5-23.5T240-240v-120h120v-90q-35-2-66.5-15.5T236-506v-44h-46L60-680q36-46 89-65t107-19q27 0 52.5 4t51.5 15v-55h480v520q0 50-35 85t-85 35H320Zm120-200h240v80q0 17 11.5 28.5T720-240q17 0 28.5-11.5T760-280v-440H440v24l240 240v56h-56L510-514l-8 8q-14 14-29.5 25T440-464v104ZM224-630h92v86q12 8 25 11t27 3q23 0 41.5-7t36.5-25l8-8-56-56q-29-29-65-43.5T256-684q-20 0-38 3t-36 9l42 42Zm376 350H320v40h286q-3-9-4.5-19t-1.5-21Zm-280 40v-40 40Z"/></svg>
                    <span>PRACTICE</span>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
                </button>
                <ul class="sub-menu">
                    <li><a href="{% url 'p1_tones' %}">Unit 1: Tones</a></li>
                    <li><a href="{% url 'p2_vowels_consonants' %}">Unit 2: Vowels + Consonants</a></li>
                    <li><a href="{% url 'p3_phrases' %}">Unit 3: Common Phrases</a></li>
                    <li><a href="{% url 'p4_numbers' %}">Unit 4: Numbers 1-10</a></li>
                    <li><a href="{% url 'p5_family' %}">Unit 5: Family Members</a></li>
                    <li><a href="{% url 'p6_animals' %}">Unit 6: Animals</a></li>
                </ul>
            </li>
            <li>
                <a href="{% url 'resources' %}" class="resources">
                    <span>RESOURCES</span>
                </a>
            </li>
        </ul>
    </aside>
-->
    <!-- Right-aligned (space for future elements) -->
    <div class="right-side"></div>

    <!-- Content block -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <div>
            <p>Contact Us: <a href="https://forms.gle/DX9G6WsokU1xGrVa8" target="_blank" style="color: whitesmoke;">https://forms.gle/DX9G6WsokU1xGrVa8</a></p>
        </div>
    </footer>

</body>
</html>
