<!-- base.html -->
<!-- for top navigation bar -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Left-aligned (space for future elements) -->
    <div class="left-side"></div>

    <!-- Center-aligned navigation bar -->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="/" id="navbar__logo">
                <img src="{% static 'images/logo_yellow.png' %}" alt="Logo" />
            </a>            
            <div class="navbar__toggle" id="left-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="{% url 'home' %}" class="navbar__links">HOME</a>
                </li>
                <li class="navbar__item">
                    <a href="{% url 'courses' %}" class="navbar__links">COURSES</a>
                </li>
                <li class="navbar__item">
                    <a href="{% url 'practice' %}" class="navbar__links">PRACTICE</a>
                </li>
                <li class="navbar__item">
                    <a href="{% url 'resources' %}" class="navbar__links">RESOURCES</a>
                </li>
                <!-- <li class="navbar__item">
                    <a href="{% url 'about' %}" class="navbar__links">ABOUT</a>
                </li> -->
                <li class="navbar__item">
                    <a href="{% url 'memory_game' %}" class="navbar__links">MEMORY GAME</a>
            </ul>
            <!-- <ul class="navbar__button">
                <li class="navbar__btn">
                    <a href="/" class="button">LOGIN</a>
                </li>
                <li class="navbar__btn">
                    <a href="/" class="button">REGISTER</a>
                </li>
            </ul> -->
        </div>
    </nav>
    
    <!-- Right-aligned (space for future elements) -->
    <div class="right-side"></div>

    <!-- Content block -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <div>
            <p>Contact Us: <a href="https://forms.gle/DX9G6WsokU1xGrVa8" target="_blank" style="color: whitesmoke;">https://forms.gle/DX9G6WsokU1xGrVa8</a></p>
        </div>
    </footer>

    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>
