<!-- courses.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Courses</h1>

<div class="button-container">
<a href="{% url 'tones' %}" class="button-link">Unit 1: Tones</a>
<a href="{% url 'vowels_consonants' %}" class="button-link">Unit 2: Vowels + Consonants</a>
<a href="{% url 'phrases' %}" class="button-link">Unit 3: Common Phrases</a>
<a href="{% url 'numbers' %}" class="button-link">Unit 4: Numbers</a>
<a href="{% url 'family' %}" class="button-link">Unit 5: Family Members</a>
<a href="{% url 'animals' %}" class="button-link">Unit 6: Animals</a>
</div>

{% endblock %}
