<!-- home.html -->
{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% block content %}
    <h1>Welcome to Hmong Language Learning</h1>

    <div style="display: flex; justify-content: center; align-items: center;">
        <img src="{% static 'images/NoSpeechBubble.PNG' %}" alt="No Speech Bubble Hmong Avatar" style="width: 300px;">
    </div>        

    {% endblock %}
</body>
</html>
