<!-- home.html -->
{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% block content %}
    <h1 style="text-align: center; line-height: 1;">Welcome to Hmong Language Learning</h1>
    <p style="text-align: center; margin-top: 5px; margin-bottom: 5px;">Click on the Courses or Practice tab to get started!</p>

    <div style="display: flex; justify-content: center; align-items: center;">
        <img src="{% static 'images/rep2.png' %}" alt="Hmong Avatar Male Styling" style="width: 250px;">
        <img src="{% static 'images/NoSpeechBubble.PNG' %}" alt="Hmong Avatar Female Styling" style="width: 300px;">
    </div>

    <div class="contact-links">
        <p>Contact Us: <a href="https://forms.gle/DX9G6WsokU1xGrVa8" target="_blank" style="color: whitesmoke;">https://forms.gle/DX9G6WsokU1xGrVa8</a></p>
        <p>GitHub: <a href="https://github.com/xvang3/HLLA" target="_blank" style="color: whitesmoke;">https://github.com/xvang3/HLLA</a></p>
        <p>ePortfolio: <a href="https://alaska.digication.com/hmong-roots-project" target="_blank" style="color: whitesmoke;">https://alaska.digication.com/hmong-roots-project</a></p>
    </div>

    {% endblock %}
</body>
</html>
