{% extends 'base.html' %}
{% load static %}
{% block title %}Memory Game{% endblock %}

{% block content %}
<div class="container text-center my-5">
    <h1>Hmong Memory Game</h1>
    <p>Match the Hmong words with their English translations!</p>
    <p>Correct Matches: <span id="correct-matches">0</span></p>
</div>

<div id="game-board" class="container d-flex flex-wrap justify-content-center">
    {% for card in cards %}
        <div class="card mb-4 mx-2" data-word="{{ card.word }}" data-id="{{ card.id }}" onclick="flipCard(this)">
            <div class="card-front">?</div>
            <div class="card-back"><span>{{ card.word }}</span></div>
        </div>
    {% endfor %}
</div>

<!-- Load Bootstrap and Custom CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/memory_game.css' %}">

<!-- Load Custom JavaScript -->
<script src="{% static 'js/memory_game.js' %}"></script>
<script>
    const totalPairs = {{ total_pairs }};
</script>
{% endblock %}
