<!-- practice.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Practice</h1>

<div class="button-container">
    <a href="{% url 'p1_tones' %}" class="button-link">Unit 1: Tones</a>
    <a href="{% url 'p2_vowels_consonants' %}" class="button-link">Unit 2: Vowels + Consonants</a>
    <a href="{% url 'p3_phrases' %}" class="button-link">Unit 3: Common Phrases</a>
    <a href="{% url 'p4_numbers' %}" class="button-link">Unit 4: Numbers</a>
    <a href="{% url 'p5_family' %}" class="button-link">Unit 5: Family Members</a>
    <a href="{% url 'p6_animals' %}" class="button-link">Unit 6: Animals</a>
</div>

{% endblock %}