/* Default style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* Style navigation bar and stick it to the top of the page when user scrolls */
.navbar {
    background-color: #464A96;
    overflow: hidden;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

/* Structure navbar items in containers */
.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

/* Add logo image */
#navbar__logo img {
  height: 110px;
  width: auto;
}

#navbar__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

/* Remove default styling for ul and center items and text within items */
.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__button {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: auto;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #C45042;
  color: #fff;
  margin-left: 10px;
}

.button:hover {
  background: #4837ff;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #f77062;
  transition: all 0.3s ease;
}

/* WIP: Left toggle nav menu */