:root{ /* Color palette -- move root to the top later and apply same colors to everything else */
  --base-color: #11121a; /* I chose random colors and will adjust them later */
  --line-color: #42434a;
  --hover-color: #222533;
  --text-color: #e6e6ef;
  --accent-color: #f77062;
  --secondary-text-color: #b0b3c1;
  --secondary-color: #464A96;
}

/* Default style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/*** Styling navbar stuff ***/
.navbar {
    background-color: #464A96;
    overflow: hidden;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky; /* Stick it to the top of the page when user scrolls */
    top: 0;
    z-index: 999;
    padding: 0 20px;
}

/* Structure navbar items in containers */
.navbar__container {
  display: flex;
  justify-content: center;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

/* Add logo image */
#navbar__logo img {
  height: 110px;
  width: auto;
}

#navbar__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

/* Remove default styling for ul and center items and text within items */
.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  gap: 2rem;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__button {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__links:hover {
  color: #f77062;
  transition: all 0.3s ease;
}
/*** navbar stuff end ***/

html{
  line-height: 1.5rem;
}

/*** Styling toggle nav ***/
.main-content{
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--base-color);
  color: var(--text-color);
  display: grid;
  grid-template-columns: auto 1fr;
}
#toggle-nav{
  box-sizing: border-box;
  height: 100vh;
  width: 250px;
  padding: 5px 1em;
  background-color: var(--base-color);
  border-right: 1px solid var(--line-color);
  position: sticky;
  top: 0;
  align-self: start;
  transition: 300ms ease-in-out;
  overflow: hidden;
  text-wrap: nowrap;
}
#toggle-nav.close{
  padding: 5px;
  width: 60px;
}
#toggle-nav ul{
  list-style: none; /* remove default bullet points */
}
#toggle-nav > ul > li:first-child{ /* styling the toggle button and logo */
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  .logo{
    font-weight: 600;
  }
}
#toggle-nav ul li.active a{
  color: var(--accent-color);

  svg{
    fill: var(--accent-color);
  }
}

#toggle-nav a, #toggle-nav .dropdown-btn, #toggle-nav .logo{
  border-radius: .5em;
  padding: .85em;
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 1em;
}
.dropdown-btn{
  width: 100%;
  text-align: left;
  background: none;
  font: inherit;
  cursor: pointer;
}
#toggle-nav svg{
  flex-shrink: 0;
  fill: var(--text-color);
}
#toggle-nav a span, #toggle-nav .dropdown-btn span{
  flex-grow: 1;
}

#toggle-nav a:hover, #toggle-nav .dropdown-btn:hover{
  background-color: var(--hover-color);
}
#toggle-nav .sub-menu{
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;

  > div{
    overflow: hidden;
  }
}
#toggle-nav .sub-menu.show{
  grid-template-rows: 1fr;
}
.dropdown-btn svg{
  transition: 200ms ease;
}
.rotate svg:last-child{
  rotate: 90deg;
}
#toggle-nav .sub-menu a{
  padding-left: 2em;
}
#toggle-btn{
  margin-left: auto;
  padding: 1em;
  border: none;
  border-radius: .5em;
  background: none;
  cursor: pointer;

  svg{
    transition: 150ms ease;
  }

  toggle-btn:hover{
    background-color: var(--hover-color);
  }
}
/*** toggle-nav stuff end ***/

h1 {
  text-align: center;
}

 /* Footer */
 footer {
  background-color: #464A96;
  font-size: smaller;
  color: whitesmoke;
  padding: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem; /* smaller font size for better appearance */
}

/* Styling content block */
.content {
  padding: 25px;
  border: 5px solid black; /* Border for format viewing purposes, possibly remove later */
  margin: 0 auto 34px;
  width: 90%; /* Use percentages for flexible layout */
}

/* Responsive design using media queries */
@media (max-width: 1200px) {
  /* Adjusts the width of the navbar container for medium screens */
  .navbar__container {
    padding: 0 20px;
  }

  /* Make the navbar items stack on smaller screens */
  .navbar__menu {
    gap: 1.5rem;
    font-size: 1.1rem; 
  }

  .navbar__item {
    margin-bottom: 10px;
  }

  .button {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  /* For very small screens (like phones) */
  .navbar {
    font-size: 1rem; /* Smaller text size on small screens */
    padding: 0 10px;
  }

  .navbar__container {
    flex-direction: column;
    align-items: center;
  }

  .navbar__menu {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }

  .navbar__links {
    padding: 0.5rem;
    width: 100%; /* Make links take up the full width */
  }

  .content {
    width: 100%; /* Full width on small screens */
    padding: 15px;
  }

  .button-link {
    width: 45%;  /* Adjust width on smaller screens */
    height: auto;  /* Let the height adjust based on content */
  }  
}

/* Flashcard container to organize cards */
.flashcard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem 0;
}

/* Flashcard styles */
.card-wrapper {
  width: 25rem;
  height: 250px;
  perspective: 1000px;
}

.card-body {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 15px 35px rgba(0,0,0,0.2), 0 5px 15px rgba(0,0,0,0.19);
  cursor: pointer;
}

.card-wrapper:hover .card-body {
  transform: rotateX(180deg);
}

.card-front, .card-back {
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;   /* doesn't seem to be applied */
  padding: 1rem;
  flex-direction: column;
}

.card-back {
  transform: rotateX(180deg);
}

/* Style for text on the cards */
.card-front p, .card-back p {
  margin: 0;
  font-weight: bold;
  color: black; /* fix: not applying to text color */
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.button-link {
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  width: 250px;
  height: 250px;
  padding: 30px 20px;
  background-color: teal; 
  color: white; 
  text-align: center;
  text-decoration: none; 
  border-radius: 5px; 
  font-size: 16px; 
  font-weight: bold;
  transition: background-color 0.3s ease; 
  line-height: normal;
  margin: 10px;
  word-wrap: break-word;
  white-space: normal;
}

.button-link:hover {
  background-color: #0056b3; 
}
