<!-- tones.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>
    <a href="{% url 'practice' %}" class="heading-link">Practice</a>
     > 
    <a href="{% url 'p1_tones' %}" class="heading-link">Unit 1: Tone Markers</a>
</h1>

<p>Focus on the ending tone of each word introduced. For example, the "B" tone marker focuses on cim sia(b).</p>

<div class="button-container">
<a href="{% url 'p1_tones_cards' %}" class="button-link">Flashcards</a>
<a href="{% url 'p1_tones_audio' %}" class="button-link">Pronunciations</a>
</div>

{% endblock %}