<!-- consonants.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>
    <a href="{% url 'practice' %}" class="heading-link">Practice</a>
     > 
    <a href="{% url 'p2_vowels_consonants' %}" class="heading-link">Unit 2: Vowels and Consonants</a>
     >
    <a href="{% url 'p2_consonants' %}" class="heading-link">Unit 2: Single Consonants</a>
</h1>

<p>Focus on the beginning tone of each word introduced. For example, the consonant "C" focuses on (c)o (c)os.</p>

<div class="button-container">
<a href="{% url 'p2_consonants_cards' %}" class="button-link">Flashcards</a>
<a href="{% url 'p2_consonants_audio' %}" class="button-link">Pronunciations</a>
</div>

{% endblock %}