<!-- single_vowels.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>
    <a href="{% url 'practice' %}" class="heading-link">Practice</a>
     > 
    <a href="{% url 'p2_vowels_consonants' %}" class="heading-link">Unit 2: Vowels and Consonants</a>
     >
    <a href="{% url 'p2_single_vowels' %}" class="heading-link">Unit 2: Single Vowels</a>
</h1>

<p>This is the only unit that uses English words to teach learners how to pronounce the single vowels.</p>

<div class="button-container">
<a href="{% url 'p2_sVowels_cards' %}" class="button-link">Flashcards</a>
<a href="{% url 'p2_sVowels_audio' %}" class="button-link">Pronunciations</a>
</div>

{% endblock %}