<!-- phrases.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>
    <a href="{% url 'practice' %}" class="heading-link">Practice</a>
     > 
    <a href="{% url 'p3_phrases' %}" class="heading-link">Unit 3: Common Phrases</a>
     > 
    <a href="{% url 'p3_phrases_audio' %}" class="heading-link">Pronunciation</a>
</h1>

{% for word in words %}
    <li>
        <strong>{{ word.english_word }} - {{ word.hmong_word }}</strong><br>
        <audio controls>
            <source src="{{ MEDIA_URL }}{{ word.male_audio_url }}" type="audio/wav">
            Your browser does not support the audio element.
        </audio>
        <audio controls>
            <source src="{{ MEDIA_URL }}{{ word.female_audio_url }}" type="audio/wav">
            Your browser does not support the audio element.
        </audio>
    </li>
{% endfor %}

{% endblock %}