<!-- animals.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>
    <a href="{% url 'practice' %}" class="heading-link">Practice</a>
     > 
    <a href="{% url 'p6_animals' %}" class="heading-link">Unit 6: Animals</a>
     > 
    <a href="{% url 'p6_animals_cards' %}" class="heading-link">Flashcards</a>
</h1>

<p style="text-align: center; margin-top: 15px; margin-bottom: 5px; font-size: 25px;">Click on a card to flip.</p>

<div id="flashcard-container" class="flashcard-container">
    {% for word in words %}
    <div class="card-wrapper">
        <div class="card-body">
            <!-- Front of the card displays english -->
            <div class="card-front">
                <p>{{ word.english_word }}</p>
            </div>
            <!-- Back of the card displays hmong -->
            <div class="card-back">
                <p>{{ word.hmong_word }}</p>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}